h1{
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    user-select: none;
}

p{
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    user-select: none;
}
.logo{
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    user-select: none;
}
