.navbar{
    width: 100%;
    height: 7em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 70px 70px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    background-color: #C6E1F1;
}

.input-sty{
    border: none;
    border-radius: 60px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.input-sty:focus{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.productOutput{
    width: 100%;
    // border: 1px solid black;
    height: auto;
}
.filter{
    height: 5em;
    display: flex;
    margin-top: 20px;

    input, select{
        border-radius: 15px;
        border: rgb(215, 215, 215) 1px solid;
        box-shadow: rgb(204, 219, 232) 2px 2px 6px 0px inset, rgba(255, 255, 255, 0.2) -2px -2px 6px 1px inset;
    }
    p{
        margin-left: 15px;
        margin-bottom: 5px;
    }
}
.sort{
    width: 20%;
    height: auto;
    margin-left: 30px;
}
.sortByPrice{
    width: 50%;
    height: auto;

}
.numberInput{
    display: flex;

    div{
        margin-inline: 10px;
    }
}

.products{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.item{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 20%;
    height: 25em;
    margin: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.item img{
    height: 200px;
    width: 200px;
}